@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import "tailwindcss";


@theme{
  --text-24: 24px;
  --text-90: 90px;
  --text-20: 20px;

  --font-Playfair:Playfair Display;
  --font-Nothing:Nothing You Could Do;


  --color-bg: #E8F6D0;
  --color-text: #005163;
  --color-body: #F6F1E1;

  --font-Quicksand: Quicksand;
  --font-Aleo: Aleo;

  --font-weight-500: 500;
  --font-weight-800: 800;
  --font-weight-700: 700;


  --drop-shadow-adminsidebar: 2px 0 30px rgba(19,23,61,0.08);
  --drop-shadow-admincontaindata: 0 4px 10px rgba(19,23,61,0.08)

}